---
http_interactions:
- request:
    method: post
    uri: https://api-sandbox.getnet.com.br/auth/oauth/v2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&scope=oob
    headers:
      Authorization:
      - Basic NzQ0Mzg4NzctZjAwYi00NTAyLTg0NTQtZGUzZDcxNjZkYzJhOjRlYWM2OTIwLTFiNTctNGNkMS04Nzk5LWQ4NzcxNzNiZmEzNw==
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Preload:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Edgeconnect-Midmile-Rtt:
      - '1'
      X-Edgeconnect-Origin-Mex-Latency:
      - '36'
    body:
      encoding: UTF-8
      string: "{\r\n  \"access_token\":\"3f322bbc-b2b6-45aa-9faa-5f8e3b9a73a5\",\r\n
        \ \"token_type\":\"Bearer\",\r\n  \"expires_in\":3600,\r\n  \"scope\":\"oob\"\r\n}"
  recorded_at: Fri, 09 Apr 2021 06:39:57 GMT
- request:
    method: post
    uri: https://api-sandbox.getnet.com.br/v1/tokens/card
    body:
      encoding: UTF-8
      string: '{"card_number":"5155901222280001"}'
    headers:
      Authorization:
      - Bearer 3f322bbc-b2b6-45aa-9faa-5f8e3b9a73a5
      Content-Type:
      - application/json
      Seller-Id:
      - 67be6e90-00c1-410d-83f5-6d75621effc8
  response:
    status:
      code: 201
      message: Created
    headers:
      Preload:
      - ''
      Content-Type:
      - application/json;charset=utf-8
      X-Edgeconnect-Midmile-Rtt:
      - '1'
      X-Edgeconnect-Origin-Mex-Latency:
      - '43'
    body:
      encoding: ASCII-8BIT
      string: '{"number_token":"bad203f8101ee124f0fadde3c5200ab130a3ae577d3ecd687e3a8743767bf3ca36fe9b4a1f0698520de1172acda4d5aa8407f4f22035e6dc197a083a88459f9e"}'
  recorded_at: Fri, 09 Apr 2021 06:39:57 GMT
recorded_with: VCR 6.0.0
