---
http_interactions:
- request:
    method: post
    uri: https://api-sandbox.getnet.com.br/auth/oauth/v2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&scope=oob
    headers:
      Authorization:
      - Basic NzQ0Mzg4NzctZjAwYi00NTAyLTg0NTQtZGUzZDcxNjZkYzJhOjRlYWM2OTIwLTFiNTctNGNkMS04Nzk5LWQ4NzcxNzNiZmEzNw==
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Preload:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Edgeconnect-Midmile-Rtt:
      - '8'
      X-Edgeconnect-Origin-Mex-Latency:
      - '43'
    body:
      encoding: UTF-8
      string: "{\r\n  \"access_token\":\"43bfa02b-8577-485e-83ca-b2f6383afb01\",\r\n
        \ \"token_type\":\"Bearer\",\r\n  \"expires_in\":3600,\r\n  \"scope\":\"oob\"\r\n}"
  recorded_at: Wed, 14 Apr 2021 14:08:33 GMT
- request:
    method: get
    uri: https://api-sandbox.getnet.com.br/v1/some_endpoint
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Authorization:
      - Bearer 43bfa02b-8577-485e-83ca-b2f6383afb01
      Content-Type:
      - application/json
      Seller-Id:
      - 67be6e90-00c1-410d-83f5-6d75621effc8
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Preload:
      - ''
      Content-Type:
      - application/json;charset=utf-8
      X-Edgeconnect-Midmile-Rtt:
      - '6'
      X-Edgeconnect-Origin-Mex-Latency:
      - '50'
    body:
      encoding: UTF-8
      string: '{"message":"Not Found","name":"GatewayClientError","status_code":404,"details":[{"status":"DENIED","error_code":"GENERIC-404","description":"Not
        Found","description_detail":"Resource not found"}]}'
  recorded_at: Wed, 14 Apr 2021 14:08:33 GMT
recorded_with: VCR 6.0.0
