---
http_interactions:
- request:
    method: post
    uri: https://api-sandbox.getnet.com.br/auth/oauth/v2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&scope=oob
    headers:
      Authorization:
      - Basic NzQ0Mzg4NzctZjAwYi00NTAyLTg0NTQtZGUzZDcxNjZkYzJhOjRlYWM2OTIwLTFiNTctNGNkMS04Nzk5LWQ4NzcxNzNiZmEzNw==
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Preload:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Edgeconnect-Midmile-Rtt:
      - '11'
      X-Edgeconnect-Origin-Mex-Latency:
      - '19'
    body:
      encoding: UTF-8
      string: "{\r\n  \"access_token\":\"b4679010-cf4f-4804-a5fc-d59cba7675d5\",\r\n
        \ \"token_type\":\"Bearer\",\r\n  \"expires_in\":3600,\r\n  \"scope\":\"oob\"\r\n}"
  recorded_at: Mon, 12 Apr 2021 20:38:45 GMT
- request:
    method: post
    uri: https://api-sandbox.getnet.com.br/v1/customers
    body:
      encoding: UTF-8
      string: '{"customer_id":"123","first_name":"João","last_name":"da Silva","email":"joao@email.com","document_type":"CPF","document_number":"12332112340","phone_number":"5551999887766","address":{"street":"Nome
        da Rua","number":"123","complement":"Complemento","district":"Nome do Bairro","city":"São
        Paulo","state":"SP","postal_code":"01010010","country":"Brasil"}}'
    headers:
      Authorization:
      - Bearer b4679010-cf4f-4804-a5fc-d59cba7675d5
      Content-Type:
      - application/json
      Seller-Id:
      - 67be6e90-00c1-410d-83f5-6d75621effc8
  response:
    status:
      code: 501
      message: Not Implemented
    headers:
      Preload:
      - ''
      Content-Type:
      - application/json;charset=utf-8
      X-Edgeconnect-Midmile-Rtt:
      - '11'
      X-Edgeconnect-Origin-Mex-Latency:
      - '81'
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Not Implemented","name":"","status_code":501,"details":[]}'
  recorded_at: Mon, 12 Apr 2021 20:38:45 GMT
recorded_with: VCR 6.0.0
