---
http_interactions:
- request:
    method: post
    uri: https://api-sandbox.getnet.com.br/v1/payments/credit
    body:
      encoding: UTF-8
      string: '{"seller_id":"seller_id","amount":100,"currency":"BRL","order":{"order_id":"123","sales_tax":0,"product_type":"service"},"customer":{"customer_id":"123","first_name":"João","last_name":"da
        Silva","email":"joao@email.com","document_type":"CPF","document_number":"12332112340","phone_number":"5551999887766","name":"João
        da Silva","billing_address":{"street":"Nome da Rua","number":"123","complement":"Complemento","district":"Nome
        do Bairro","city":"São Paulo","state":"SP","postal_code":"01010010","country":"Brasil"}},"credit":{"delayed":false,"authenticated":false,"pre_authorization":false,"save_card_data":false,"transaction_type":"FULL","number_installments":1,"soft_descriptor":"Descrição
        para fatura","dynamic_mcc":1799,"card":{"number_token":"bad203f8101ee124f0fadde3c5200ab130a3ae577d3ecd687e3a8743767bf3ca36fe9b4a1f0698520de1172acda4d5aa8407f4f22035e6dc197a083a88459f9e","cardholder_name":"JOAO
        DA SILVA","security_code":"123","brand":"Mastercard","expiration_month":"12","expiration_year":"23"}}}'
    headers:
      Authorization:
      - Bearer 3e28e48b-478f-4b98-b2ca-c2e82e4d5d14
      Content-Type:
      - application/json
      Seller-Id:
      - seller_id
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Edgeconnect-Midmile-Rtt:
      - '15'
      X-Edgeconnect-Origin-Mex-Latency:
      - '60'
    body:
      encoding: UTF-8
      string: |-
        {
            "message": "Unauthorized",
            "name": "GatewayAuthenticationOAuth2ServiceError",
            "status_code": 401,
            "details": [
                {
                    "status": "DENIED",
                    "error_code": "AUTHENTICATION-401",
                    "description": "Unauthorized",
                    "description_detail": "Invalid client credentials"
                }
            ]
        }
  recorded_at: Wed, 14 Apr 2021 12:27:16 GMT
recorded_with: VCR 6.0.0
